POSTGRES_DB=ai_fashion_studio_db
POSTGRES_USER=aifashionstudio
POSTGRES_PASSWORD=aifashionstudio_password
POSTGRES_PORT=5432

PGADMIN_EMAIL=admin@aifashionstudio.local
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050

KAFKA_INTERNAL_PORT=9092
KAFKA_EXTERNAL_PORT=29092
KAFKA_UI_PORT=8085

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
